# config
token.json
credentials.json

# executables
__debug_bin
cmd/sheets-refresh/sheets-refresh
cmd/sheets-refresh/sheets-refresh.exe
examples/drive/drive

# IDE files
.vscode/*
.idea/*

# backup files
*~
*.bak

#OS files
.DS_Store

#vendoring
vendor

# test files
*.xls
*.xlsx
*.yaml
*.ods
*.pdf

dist/
.refresh_credentials.json
